<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://uc8dd25c5ae453cbed9ef28558b0.dl.dropboxusercontent.com/cd/0/get/A2x8EOtzGXEKRJP42X_n6AnZXFJVlLjLBtXKKWICVJ0lxUkn9eS6DhJZGyentJR-SJzdNI5C9eTnVZwhtfo1n-PtVPP_wO0T6hS3r6UGa5mdIsxfpmcGlwdxff5TIEN-wz8/file?dl=1</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://github.com/Gensun/OTA/raw/master/icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://github.com/Gensun/OTA/raw/master/icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.zhimo.mathkid</string>
				<key>bundle-version</key>
				<string>1.2.8</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>乐课力在线</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
